header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

.resort{
	color: #8388ae;
	font-weight: bold;
}

#wrapper{
	width: 80%;
	background-color: #FFFFFF;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}

body {
	margin: auto;
	background-image: url(ptrbackground.jpg);
	background-color: #00569f;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

li{
	list-style-type: none;
}

li a {
	text-decoration: none;
	font-weight: bold;
	color: #000033;
}

#content{
	margin-left: 270px;
	width: 100%;
	height: 100%;
}

#content ul li{
	background-image: url(marker.gif);
	background-repeat: no-repeat;
	padding-left: 15px;
}


nav ul {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	background-color:#90c4e4;
	width: 200px;
	margin: auto;
}
nav ul li:first-child{
	margin-top: 10px;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}

h1 {
	background-image: url(sunset.jpg);
	background-position: right;
	color: #FFFFFF;
	background-color: #000033;
	background-repeat: no-repeat;
	margin-bottom: 0;
	padding: 10px;
}


h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	margin-left: 270px;
	width: 50%;
	font-family: Georgia, "Times New Roman", serif;
}

